    * {
        font-family: 'Roboto Mono', monospace;
    }
    
    #titulo {
        margin: 0;
        padding: 7%;
    }
    
    h1 {
        color: salmon;
        text-decoration: underline;
    }
    
    div {
        border: rgb(46, 204, 113) 2px solid;
        border-radius: 5px;
    }
    
    div p {
        font-family: 'Architects Daughter', cursive;
    }
    
    .special {
        color: rgb(125, 60, 152);
    }
    
    h2 {
        color: rgb(125, 60, 152);
        text-decoration: underline;
    }
    
    #indice {
        font-family: 'Indie Flower', cursive;
    }
    
    * {
        background-color: rgb(9, 10, 10)
    }
    
    p {
        color: whitesmoke;
    }
    
    * {
        margin: 1%;
    }
    
    div>p {
        padding: 3%;
    }
    
    div li,
    #indice {
        background-color: #FCC79D;
    }
    
    div p {
        background-color: rgb(17, 56, 39)
    }